## Set up

In [1]:
import pandas as pd
from sqlalchemy import create_engine
import json
import requests

## Get NYT county COVID data

In [2]:
# -----------------------
# This is a NYTimes report on national COVID-19 cases and deaths, sorted by county
# From: https://github.com/nytimes/covid-19-data (us-counties.csv)
# -----------------------

# Pull in the live data
counties_path = "https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv"

# Save to a dataframe
covid_all_df = pd.read_csv(counties_path)

#### Build all values dataframe

In [3]:
# Drop rows with null values (we want complete data only)
covid_all_df = covid_all_df.dropna()

# Convert fips to int
covid_all_df = covid_all_df.astype({'fips': 'int'})

In [4]:
covid_all_df

              date      county       state   fips  cases  deaths
0       2020-01-21   Snohomish  Washington  53061      1       0
1       2020-01-22   Snohomish  Washington  53061      1       0
2       2020-01-23   Snohomish  Washington  53061      1       0
3       2020-01-24        Cook    Illinois  17031      1       0
4       2020-01-24   Snohomish  Washington  53061      1       0
...            ...         ...         ...    ...    ...     ...
570091  2020-09-25  Sweetwater     Wyoming  56037    332       2
570092  2020-09-25       Teton     Wyoming  56039    532       1
570093  2020-09-25       Uinta     Wyoming  56041    348       2
570094  2020-09-25    Washakie     Wyoming  56043    113       6
570095  2020-09-25      Weston     Wyoming  56045     35       0

[564608 rows x 6 columns]

#### Build latest values dataframe

In [5]:
# Get the most up-to-date data
latest_date = covid_all_df['date'].iloc[-1]

# Make a dataframe holding that most recent data
covid_latest_df = covid_all_df.loc[covid_all_df['date']==latest_date]

In [6]:
covid_latest_df

              date      county    state   fips  cases  deaths
566855  2020-09-25     Autauga  Alabama   1001   1757      25
566856  2020-09-25     Baldwin  Alabama   1003   5456      50
566857  2020-09-25     Barbour  Alabama   1005    873       7
566858  2020-09-25        Bibb  Alabama   1007    652      10
566859  2020-09-25      Blount  Alabama   1009   1608      15
...            ...         ...      ...    ...    ...     ...
570091  2020-09-25  Sweetwater  Wyoming  56037    332       2
570092  2020-09-25       Teton  Wyoming  56039    532       1
570093  2020-09-25       Uinta  Wyoming  56041    348       2
570094  2020-09-25    Washakie  Wyoming  56043    113       6
570095  2020-09-25      Weston  Wyoming  56045     35       0

[3210 rows x 6 columns]

## Get mask use data

In [7]:
# Import the mask CSV data
mask_path = "https://raw.githubusercontent.com/nytimes/covid-19-data/master/mask-use/mask-use-by-county.csv"
masks_df = pd.read_csv(mask_path)

In [8]:
# Clean up column names
masks_df.columns = ['fips','never','rarely','sometimes','frequently','always']

In [9]:
# Display the dataframe
masks_df

       fips  never  rarely  sometimes  frequently  always
0      1001  0.053   0.074      0.134       0.295   0.444
1      1003  0.083   0.059      0.098       0.323   0.436
2      1005  0.067   0.121      0.120       0.201   0.491
3      1007  0.020   0.034      0.096       0.278   0.572
4      1009  0.053   0.114      0.180       0.194   0.459
...     ...    ...     ...        ...         ...     ...
3137  56037  0.061   0.295      0.230       0.146   0.268
3138  56039  0.095   0.157      0.160       0.247   0.340
3139  56041  0.098   0.278      0.154       0.207   0.264
3140  56043  0.204   0.155      0.069       0.285   0.287
3141  56045  0.142   0.129      0.148       0.207   0.374

[3142 rows x 6 columns]

## Get CDC data
#### Source: https://data.cdc.gov/NCHS/Weekly-Counts-of-Deaths-by-State-and-Select-Causes/muzy-jte6

In [23]:
cdc_url = 'https://data.cdc.gov/resource/muzy-jte6.json'
response = requests.get(cdc_url)
cdc_json = response.json()
cdc_df = pd.DataFrame.from_dict(cdc_json)

In [25]:
cdc_df.columns = ['state',
                  'year',
                  'week',
                  'week_ending_date',
                  'all_causes',
                  'natural_causes',
                  'septicemia',
                  'malignant_neoplasms',
                  'diabetes',
                  'alzheimers',
                  'influenza_and_pneumonia',
                  'chronic_lower_respiratory',
                  'other_diseases_of_respiratory',
                  'nephritis_nephrotic_syndrome',
                  'symptoms_signs_and_abnormal',
                  'diseases_of_heart',
                  'cerebrovascular_diseases',
                  'covid_19_multiple_causes',
                  'covid_19_underlying_cause',
                  'flag_otherresp',
                  'flag_otherunk',
                  'flag_nephr',
                  'flag_inflpn',
                  'flag_cov19mcod',
                  'flag_cov19ucod',
                  'flag_sept',
                  'flag_diab',
                  'flag_alz',
                  'flag_clrd',
                  'flag_stroke',
                  'flag_hd',
                  'flag_neopl',
                  'flag_allcause',
                  'flag_natcause']

In [26]:
cdc_df

,state,year,week,week_ending_date,all_causes,natural_causes,septicemia,malignant_neoplasms,diabetes,alzheimers,...,flag_cov19ucod,flag_sept,flag_diab,flag_alz,flag_clrd,flag_stroke,flag_hd,flag_neopl,flag_allcause,flag_natcause
0,Alabama,2019,1,2019-01-05,1077,993,30,198,22,60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Alabama,2019,2,2019-01-12,1090,994,25,187,24,49,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Alabama,2019,3,2019-01-19,1114,1042,22,238,18,48,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Alabama,2019,4,2019-01-26,1063,994,21,165,22,50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Alabama,2019,5,2019-02-02,1095,1026,18,199,19,52,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Hawaii,2019,17,2019-04-27,221,211,NaN,49,NaN,NaN,...,NaN,Suppressed (counts 1-9),Suppressed (counts 1-9),Suppressed (counts 1-9),Suppressed (counts 1-9),NaN,NaN,NaN,NaN,NaN
996,Hawaii,2019,18,2019-05-04,209,190,NaN,37,NaN,NaN,...,NaN,Suppressed (counts 1-9),Suppressed (counts 1-9),Suppressed (counts 1-9),Suppressed (counts 1-9),NaN,NaN,NaN,NaN,NaN
997,Hawaii,2019,19,2019-05-11,246,232,NaN,52,NaN,NaN,...,NaN,Suppressed (counts 1-9),Suppressed (counts 1-9),Suppressed (counts 1-9),Suppressed (counts 1-9),NaN,NaN,NaN,NaN,NaN
998,Hawaii,2019,20,2019-05-18,233,213,NaN,53,NaN,NaN,...,NaN,Suppressed (counts 1-9),Suppressed (counts 1-9),Suppressed (counts 1-9),Suppressed (counts 1-9),NaN,NaN,NaN,NaN,NaN
999,Hawaii,2019,21,2019-05-25,239,225,0,63,NaN,13,...,NaN,NaN,Suppressed (counts 1-9),NaN,Suppressed (counts 1-9),NaN,NaN,NaN,NaN,NaN

In [13]:
# Build 2019 and 2020 dataframes, just in case
cdc_2019_df = cdc_df.loc[cdc_df['mmwryear']=="2019"]
cdc_2020_df = cdc_df.loc[cdc_df['mmwryear']=="2020"]

## Get Covid Tracking Project data
#### Source: https://covidtracking.com

In [16]:
covidtracking_current_url = 'https://api.covidtracking.com/v1/states/current.json'
covidtracking_current_response = requests.get(covidtracking_current_url)
covidtracking_current_json = covidtracking_current_response.json()
covidtracking_current_df = pd.DataFrame.from_dict(covidtracking_current_json)

In [27]:
for col in covidtracking_current_df.columns: 
    print(col)

date
state
positive
negative
pending
totalTestResults
hospitalizedCurrently
hospitalizedCumulative
inIcuCurrently
inIcuCumulative
onVentilatorCurrently
onVentilatorCumulative
recovered
dataQualityGrade
lastUpdateEt
dateModified
checkTimeEt
death
hospitalized
dateChecked
totalTestsViral
positiveTestsViral
negativeTestsViral
positiveCasesViral
deathConfirmed
deathProbable
totalTestEncountersViral
totalTestsPeopleViral
totalTestsAntibody
positiveTestsAntibody
negativeTestsAntibody
totalTestsPeopleAntibody
positiveTestsPeopleAntibody
negativeTestsPeopleAntibody
totalTestsPeopleAntigen
positiveTestsPeopleAntigen
totalTestsAntigen
positiveTestsAntigen
fips
positiveIncrease
negativeIncrease
total
totalTestResultsSource
totalTestResultsIncrease
posNeg
deathIncrease
hospitalizedIncrease
hash
commercialScore
negativeRegularScore
negativeScore
positiveScore
score
grade

In [33]:
# Display the dataframe
covidtracking_current_df

,date,state,positive,negative,pending,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20200926,AK,8315,434554,NaN,442869,43.0,NaN,NaN,NaN,...,442869,1,0,bf7518dcc571d23d1d8206a95e1a1c12173bcb0a,0,0,0,0,0,
1,20200926,AL,151591,970048,NaN,1104932,709.0,16852.0,NaN,1791.0,...,1121639,10,0,88370a431af70a13b1499a5cd6afe94a14fc9fb3,0,0,0,0,0,
2,20200926,AR,80755,855635,NaN,933895,447.0,5202.0,213.0,NaN,...,936390,19,0,1177f6d15b81adb770caebd6b66b47189c93f198,0,0,0,0,0,
3,20200926,AS,0,1571,NaN,1571,NaN,NaN,NaN,NaN,...,1571,0,0,b9eccb7369bdc4ee75708c7a892c5437ab915d83,0,0,0,0,0,
4,20200926,AZ,216826,1221851,NaN,1434227,509.0,22005.0,115.0,NaN,...,1438677,35,33,130636fd317b3160d4644679abe3501863463881,0,0,0,0,0,
5,20200926,CA,798237,13384493,NaN,14182730,3203.0,NaN,862.0,NaN,...,14182730,134,0,bc22d39302ce5646a61aef19adbfa503f5de5e76,0,0,0,0,0,
6,20200926,CO,67926,804806,NaN,1277613,248.0,7479.0,NaN,NaN,...,872732,5,25,e66aa724278acdbfea40842a634bf1ac4a32fa77,0,0,0,0,0,
7,20200926,CT,56587,1462564,NaN,1519151,76.0,11560.0,NaN,NaN,...,1519151,0,0,597a6f3bd03d5e8297830e769c3da2cb90e767e7,0,0,0,0,0,
8,20200926,DC,15215,362764,NaN,377979,101.0,NaN,25.0,NaN,...,377979,1,0,5dd3065a746eea8ae0e9a70d3218cd0129db3054,0,0,0,0,0,
9,20200926,DE,20156,260243,NaN,280399,57.0,NaN,10.0,NaN,...,280399,2,0,e3e0fc4116a2a29665fe6bffd51a89a13780977a,0,0,0,0,0,
10,20200926,FL,698682,4536325,4001.0,5235007,2099.0,43964.0,NaN,NaN,...,5235007,107,171,dc9d1e1af52716f018602f6f32d66d5e9c263c88,0,0,0,0,0,
11,20200926,GA,313873,2558482,NaN,2872355,1831.0,28153.0,NaN,5176.0,...,2872355,40,118,9ab79841fa3a6c3d058ce3f94b9671540d5a8880,0,0,0,0,0,
12,20200926,GU,2354,46365,NaN,48719,30.0,NaN,9.0,NaN,...,48719,2,0,7185eba890dd8a1d9ad81f1a7efd70101c32b967,0,0,0,0,0,
13,20200926,HI,11891,278076,NaN,289967,150.0,787.0,55.0,NaN,...,289967,3,8,6244d9b33b4882c0c4fd80e6a666219eab29ae6e,0,0,0,0,0,
14,20200926,IA,82944,667954,NaN,750898,334.0,NaN,84.0,NaN,...,750898,4,0,47decf503735f781b057e655041ca39b2b4fb714,0,0,0,0,0,
15,20200926,ID,39757,262420,NaN,298652,135.0,1795.0,44.0,451.0,...,302177,1,29,71c4c31498029adf59faba29c2c940f819b1402a,0,0,0,0,0,
16,20200926,IL,288815,5142362,NaN,5431177,1597.0,NaN,355.0,NaN,...,5431177,25,0,2620e4472a6793bd94436e1e6a2f1efbe8f39315,0,0,0,0,0,
17,20200926,IN,116549,1233841,NaN,1350390,910.0,12521.0,259.0,2497.0,...,1350390,11,58,c434c8dc087571d7e42607998e7613c3f97def2f,0,0,0,0,0,
18,20200926,KS,56592,446178,NaN,502770,343.0,2816.0,121.0,768.0,...,502770,0,0,1468f023cf5cebe6e0d2f0752a5b054eecc06b87,0,0,0,0,0,
19,20200926,KY,66036,1216560,NaN,1274688,538.0,5193.0,129.0,1511.0,...,1282596,5,46,bbc51488b99291f0d9e247a91056b3ddc5af5618,0,0,0,0,0,
20,20200926,LA,165152,2090913,NaN,2256065,570.0,NaN,NaN,NaN,...,2256065,0,0,bda77e8fe6fd07aa1abd19dfbcfc5e00573b8f1f,0,0,0,0,0,
21,20200926,MA,130050,2046728,NaN,3780020,354.0,12637.0,77.0,NaN,...,2176778,18,18,6b3d0a05572af2a2470ddc16f5fda3df4be4692c,0,0,0,0,0,
22,20200926,MD,122972,1461328,NaN,1584300,347.0,15382.0,81.0,NaN,...,1584300,8,54,cf952879908e5d11013c8da79ad58cd91ef3a04b,0,0,0,0,0,
23,20200926,ME,5260,401159,NaN,406419,8.0,443.0,1.0,NaN,...,406419,0,1,7ed34c8487da7bfb9b9473f129d8e5a25a1c0056,0,0,0,0,0,
24,20200926,MI,134373,3408684,NaN,3543057,558.0,NaN,139.0,NaN,...,3543057,17,0,2e49e36255f6a6daef66f967af21b911b45c97ad,0,0,0,0,0,
25,20200926,MN,95659,1273023,NaN,1954715,340.0,7443.0,120.0,2085.0,...,1368682,10,52,9be7f926e01b9ff59c4df68144853a139533f186,0,0,0,0,0,
26,20200926,MO,122014,1167155,NaN,1289169,1101.0,NaN,NaN,NaN,...,1289169,69,0,de543358a328e51d3abdbaecc32041460021841e,0,0,0,0,0,
27,20200926,MP,69,14776,NaN,14845,NaN,4.0,NaN,NaN,...,14845,0,0,6fdb4898ec2dbbb6eafe41b19ae56eff50411718,0,0,0,0,0,
28,20200926,MS,96677,634036,NaN,730713,601.0,5607.0,147.0,NaN,...,730713,17,0,25c406301ef686539186978256312931e29136fe,0,0,0,0,0,
29,20200926,MT,11907,317378,NaN,329285,147.0,684.0,NaN,NaN,...,329285,1,9,2b25a5d9191b4d38560392a23353c41e646042be,0,0,0,0,0,
30,20200926,NC,206090,2741713,NaN,2947803,914.0,NaN,272.0,NaN,...,2947803,31,0,20a1b19461a3df0fea54c6dfb6ffc967453a835b,0,0,0,0,0,
31,20200926,ND,20380,215849,NaN,594628,104.0,809.0,22.0,201.0,...,236229,0,20,774fda32838bbbdd408f7f2df9a95d38e10e2829,0,0,0,0,0,
32,20200926,NE,43162,397483,NaN,440645,225.0,2276.0,NaN,NaN,...,440645,6,17,dff40db61c6d6203f6a42331a30731482bfd47e3,0,0,0,0,0,
33,20200926,NH,8121,257257,NaN,422591,18.0,734.0,NaN,232.0,...,265378,1,2,55a064dd09da123029c8d41638a6b22a33f1173c,0,0,0,0,0,
34,20200926,NJ,202850,3309718,NaN,3512568,426.0,23324.0,88.0,NaN,...,3512568,6,39,cd73d3de8c388876eca2bfe00d66d734af82857f,0,0,0,0,0,
35,20200926,NM,28487,865002,NaN,893489,75.0,3420.0,NaN,NaN,...,893489,6,18,ca61662b5c3adb6ac3a1bd588dfa0ca45978ca5b,0,0,0,0,0,
36,20200926,NV,78355,607323,NaN,685678,442.0,NaN,125.0,NaN,...,685678,9,0,6562d5250f6a1ba7ad8affc64c3a68a2b09dd5cd,0,0,0,0,0,
37,20200926,NY,454760,9968656,NaN,10423416,527.0,89995.0,164.0,NaN,...,10423416,4,0,bb7957fb78d761d4366fb1503123856475c70689,0,0,0,0,0,
38,20200926,OH,150009,2883978,NaN,3033987,625.0,15185.0,205.0,3247.0,...,3033987,6,58,bc6ac50a6f9a24d96bc3280b69d405cfab1f7ca9,0,0,0,0,0,
39,20200926,OK,83510,1075475,6653.0,1158985,579.0,6252.0,223.0,NaN,...,1158985,11,60,832a286352d7b6c33cd6f7c2aca41c1e843e62b5,0,0,0,0,0,
40,20200926,OR,32581,636090,NaN,668671,199.0,2496.0,40.0,NaN,...,668671,4,0,76f49d2ef6b4e575aed9232f25aefd8711244bf3,0,0,0,0,0,
41,20200926,PA,155232,1830292,NaN,1985524,444.0,NaN,NaN,NaN,...,1985524,22,0,95db3b8c62ccc9249c12e799648a8351f5b7337f,0,0,0,0,0,
42,20200926,PR,45413,305972,NaN,351385,342.0,NaN,59.0,NaN,...,351385,7,0,347836cd67621b97708a39d1a47689f42650b1b1,0,0,0,0,0,
43,20200926,RI,24181,305853,NaN,727469,94.0,2725.0,8.0,NaN,...,330034,0,0,e5a147d241db0ad3830218c1038dc29b79d42bcc,0,0,0,0,0,
44,20200926,SC,145273,1097524,NaN,1242797,727.0,9028.0,186.0,NaN,...,1242797,26,34,f961ffe6bba29cf00c45195b6b3d192e8cd6b734,0,0,0,0,0,
45,20200926,SD,21133,165001,NaN,186134,213.0,1434.0,NaN,NaN,...,186134,2,34,ca6a7392a4ed3947a93b80040d2c4fffc4abcbe2,0,0,0,0,0,
46,20200926,TN,190891,2598988,NaN,2789879,855.0,8528.0,267.0,NaN,...,2789879,22,51,053b3f4cd24a0ce9d35d93dfa59a783a7b6091cb,0,0,0,0,0,
47,20200926,TX,733438,5261375,NaN,5994813,3209.0,NaN,1056.0,NaN,...,5994813,121,0,118422653c167fc9d3ed0bd4ad4d2a32d4f6a49a,0,0,0,0,0,
48,20200926,UT,69547,735532,NaN,805079,191.0,3702.0,77.0,890.0,...,805079,0,34,3670fa0d15d16f24a5287b6b4adede4295b71342,0,0,0,0,0,
49,20200926,VA,145408,1855171,310.0,1993344,924.0,18179.0,202.0,NaN,...,2000579,8,29,5f2f6648c9200ea7be7a0d221a8b6dffb911ae4c,0,0,0,0,0,
50,20200926,VI,1296,18676,8.0,19972,NaN,NaN,NaN,NaN,...,19972,0,0,61739fb2efab7827062ca9cc633984208f34bc24,0,0,0,0,0,
51,20200926,VT,1739,158537,NaN,160276,1.0,NaN,NaN,NaN,...,160276,0,0,21dc4138bae65a1c22e9f7756f9fd545cb820bea,0,0,0,0,0,
52,20200926,WA,85226,1715795,NaN,1801021,264.0,7412.0,NaN,NaN,...,1801021,20,55,fd6ce507d03586f2b0ac32e299f88b85d7393013,0,0,0,0,0,
53,20200926,WI,120231,1393412,211.0,1513643,574.0,7041.0,161.0,1153.0,...,1513643,7,79,fb3c2ebb10eddd0158608674af0e708a51da7173,0,0,0,0,0,
54,20200926,WV,15158,527133,NaN,542291,174.0,NaN,56.0,NaN,...,542291,2,0,a4823873f7e477ab8b531c7edd4b61423f7dbfdb,0,0,0,0,0,
55,20200926,WY,5465,92406,NaN,97871,22.0,258.0,NaN,NaN,...,97871,0,2,9c1be43cf5db286c8a903c0b3ed654e3d5b588c2,0,0,0,0,0,

In [18]:
covidtracking_all_url = 'https://api.covidtracking.com/v1/us/daily.json'
covidtracking_all_response = requests.get(covidtracking_all_url)
covidtracking_all_json = covidtracking_all_response.json()
covidtracking_all_df = pd.DataFrame.from_dict(covidtracking_all_json)

In [52]:
# Display the dataframe
covidtracking_all_df.to_csv("test.csv")

### Connect and load to postgressql

### Available dataframes:
<b>NYT:</b> covid_all_df, covid_latest_df <br>
<b>Masks:</b> masks_df <br>
<b>CDC:</b> cdc_df, cdc_2019_df, cdc_2020_df <br>
<b>Covid tracking:</b> covidtracking_current_df, covidtracking_all_df

In [57]:
# Connect to local database
# Make sure you fill out the user / password for MySQL
rds_connection_string = "covid_db_admin:pass123@localhost:5432/covid_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [58]:
# Check for Tables
engine.table_names()

['cdc', 'covid', 'masks']

### Load data into database

In [59]:
# Load covid_all_df dataframe into database
covid_all_df.to_sql(name='covid', con=engine, if_exists='append', index=False)

In [60]:
# Load mask_df dataframe into database
masks_df.to_sql(name='masks', con=engine, if_exists='append', index=False)

In [61]:
# Load cdc_df dataframe into database
cdc_df.to_sql(name='cdc', con=engine, if_exists='append', index=False)

In [62]:
# Not yet working
#covidtracking_current_df.to_sql(name='covidtracking_current', con=engine, if_exists='append', index=False)

In [63]:
# Not yet working
#covidtracking_all_df.to_sql(name='covidtracking_all', con=engine, if_exists='append', index=False)

### Confirm data load

In [64]:
# Confirm covid data has been added
pd.read_sql_query('select * from covid', con=engine)

              date      county       state   fips  cases  deaths
0       2020-01-21   Snohomish  Washington  53061      1       0
1       2020-01-22   Snohomish  Washington  53061      1       0
2       2020-01-23   Snohomish  Washington  53061      1       0
3       2020-01-24        Cook    Illinois  17031      1       0
4       2020-01-24   Snohomish  Washington  53061      1       0
...            ...         ...         ...    ...    ...     ...
564603  2020-09-25  Sweetwater     Wyoming  56037    332       2
564604  2020-09-25       Teton     Wyoming  56039    532       1
564605  2020-09-25       Uinta     Wyoming  56041    348       2
564606  2020-09-25    Washakie     Wyoming  56043    113       6
564607  2020-09-25      Weston     Wyoming  56045     35       0

[564608 rows x 6 columns]

In [65]:
# Confirm mask use data has been added
pd.read_sql_query('select * from masks', con=engine)

       fips  never  rarely  sometimes  frequently  always
0      1001  0.053   0.074      0.134       0.295   0.444
1      1003  0.083   0.059      0.098       0.323   0.436
2      1005  0.067   0.121      0.120       0.201   0.491
3      1007  0.020   0.034      0.096       0.278   0.572
4      1009  0.053   0.114      0.180       0.194   0.459
...     ...    ...     ...        ...         ...     ...
3137  56037  0.061   0.295      0.230       0.146   0.268
3138  56039  0.095   0.157      0.160       0.247   0.340
3139  56041  0.098   0.278      0.154       0.207   0.264
3140  56043  0.204   0.155      0.069       0.285   0.287
3141  56045  0.142   0.129      0.148       0.207   0.374

[3142 rows x 6 columns]

In [66]:
# Confirm cdc data has been added
pd.read_sql_query('select * from cdc', con=engine)

,state,year,week,week_ending_date,all_causes,natural_causes,septicemia,malignant_neoplasms,diabetes,alzheimers,...,flag_cov19ucod,flag_sept,flag_diab,flag_alz,flag_clrd,flag_stroke,flag_hd,flag_neopl,flag_allcause,flag_natcause
0,Alabama,2019,1,2019-01-05,1077.0,993.0,30.0,198.0,22.0,60.0,...,None,None,None,None,None,None,None,None,None,None
1,Alabama,2019,2,2019-01-12,1090.0,994.0,25.0,187.0,24.0,49.0,...,None,None,None,None,None,None,None,None,None,None
2,Alabama,2019,3,2019-01-19,1114.0,1042.0,22.0,238.0,18.0,48.0,...,None,None,None,None,None,None,None,None,None,None
3,Alabama,2019,4,2019-01-26,1063.0,994.0,21.0,165.0,22.0,50.0,...,None,None,None,None,None,None,None,None,None,None
4,Alabama,2019,5,2019-02-02,1095.0,1026.0,18.0,199.0,19.0,52.0,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Hawaii,2019,17,2019-04-27,221.0,211.0,NaN,49.0,NaN,NaN,...,None,Suppressed (counts 1-9),Suppressed (counts 1-9),Suppressed (counts 1-9),Suppressed (counts 1-9),None,None,None,None,None
996,Hawaii,2019,18,2019-05-04,209.0,190.0,NaN,37.0,NaN,NaN,...,None,Suppressed (counts 1-9),Suppressed (counts 1-9),Suppressed (counts 1-9),Suppressed (counts 1-9),None,None,None,None,None
997,Hawaii,2019,19,2019-05-11,246.0,232.0,NaN,52.0,NaN,NaN,...,None,Suppressed (counts 1-9),Suppressed (counts 1-9),Suppressed (counts 1-9),Suppressed (counts 1-9),None,None,None,None,None
998,Hawaii,2019,20,2019-05-18,233.0,213.0,NaN,53.0,NaN,NaN,...,None,Suppressed (counts 1-9),Suppressed (counts 1-9),Suppressed (counts 1-9),Suppressed (counts 1-9),None,None,None,None,None
999,Hawaii,2019,21,2019-05-25,239.0,225.0,0.0,63.0,NaN,13.0,...,None,None,Suppressed (counts 1-9),None,Suppressed (counts 1-9),None,None,None,None,None