## Set up

In [1]:
import pandas as pd
from sqlalchemy import create_engine
import json
import requests

## Get NYT county COVID data

In [2]:
# -----------------------
# This is a NYTimes report on national COVID-19 cases and deaths, sorted by county
# From: https://github.com/nytimes/covid-19-data (us-counties.csv)
# -----------------------

# Pull in the live data
counties_path = "https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv"

# Save to a dataframe
covid_all_df = pd.read_csv(counties_path)

#### Build all values dataframe

In [3]:
# Drop rows with null values (we want complete data only)
covid_all_df = covid_all_df.dropna()

# Convert fips to int
covid_all_df = covid_all_df.astype({'fips': 'int'})

In [4]:
# Display the dataframe
covid_all_df

              date      county       state   fips  cases  deaths
0       2020-01-21   Snohomish  Washington  53061      1       0
1       2020-01-22   Snohomish  Washington  53061      1       0
2       2020-01-23   Snohomish  Washington  53061      1       0
3       2020-01-24        Cook    Illinois  17031      1       0
4       2020-01-24   Snohomish  Washington  53061      1       0
...            ...         ...         ...    ...    ...     ...
579818  2020-09-28  Sweetwater     Wyoming  56037    334       2
579819  2020-09-28       Teton     Wyoming  56039    560       1
579820  2020-09-28       Uinta     Wyoming  56041    354       2
579821  2020-09-28    Washakie     Wyoming  56043    114       6
579822  2020-09-28      Weston     Wyoming  56045     36       0

[574238 rows x 6 columns]

#### Build latest values dataframe

In [5]:
# Get the most up-to-date data
latest_date = covid_all_df['date'].iloc[-1]

# Make a dataframe holding that most recent data
covid_latest_df = covid_all_df.loc[covid_all_df['date']==latest_date]

In [6]:
# Display the dataframe
covid_latest_df

              date      county    state   fips  cases  deaths
576582  2020-09-28     Autauga  Alabama   1001   1785      25
576583  2020-09-28     Baldwin  Alabama   1003   5588      50
576584  2020-09-28     Barbour  Alabama   1005    886       7
576585  2020-09-28        Bibb  Alabama   1007    657      10
576586  2020-09-28      Blount  Alabama   1009   1618      15
...            ...         ...      ...    ...    ...     ...
579818  2020-09-28  Sweetwater  Wyoming  56037    334       2
579819  2020-09-28       Teton  Wyoming  56039    560       1
579820  2020-09-28       Uinta  Wyoming  56041    354       2
579821  2020-09-28    Washakie  Wyoming  56043    114       6
579822  2020-09-28      Weston  Wyoming  56045     36       0

[3210 rows x 6 columns]

## Get mask use data

In [7]:
# Import the mask CSV data
mask_path = "https://raw.githubusercontent.com/nytimes/covid-19-data/master/mask-use/mask-use-by-county.csv"
masks_df = pd.read_csv(mask_path)

In [8]:
# Clean up column names
masks_df.columns = ['fips','never','rarely','sometimes','frequently','always']

In [9]:
# Display the dataframe
masks_df

       fips  never  rarely  sometimes  frequently  always
0      1001  0.053   0.074      0.134       0.295   0.444
1      1003  0.083   0.059      0.098       0.323   0.436
2      1005  0.067   0.121      0.120       0.201   0.491
3      1007  0.020   0.034      0.096       0.278   0.572
4      1009  0.053   0.114      0.180       0.194   0.459
...     ...    ...     ...        ...         ...     ...
3137  56037  0.061   0.295      0.230       0.146   0.268
3138  56039  0.095   0.157      0.160       0.247   0.340
3139  56041  0.098   0.278      0.154       0.207   0.264
3140  56043  0.204   0.155      0.069       0.285   0.287
3141  56045  0.142   0.129      0.148       0.207   0.374

[3142 rows x 6 columns]

## Get CDC data
#### Source: https://data.cdc.gov/NCHS/Weekly-Counts-of-Deaths-by-State-and-Select-Causes/muzy-jte6

In [10]:
cdc_url = 'https://data.cdc.gov/resource/muzy-jte6.json'
response = requests.get(cdc_url)
cdc_json = response.json()

# Convert to a dataframe
cdc_df = pd.DataFrame.from_dict(cdc_json)

In [11]:
# Rename columns
cdc_df.columns = ['state',
                  'year',
                  'week',
                  'week_ending_date',
                  'all_causes',
                  'natural_causes',
                  'septicemia',
                  'malignant_neoplasms',
                  'diabetes',
                  'alzheimers',
                  'influenza_and_pneumonia',
                  'chronic_lower_respiratory',
                  'other_diseases_of_respiratory',
                  'nephritis_nephrotic_syndrome',
                  'symptoms_signs_and_abnormal',
                  'diseases_of_heart',
                  'cerebrovascular_diseases',
                  'covid_19_multiple_causes',
                  'covid_19_underlying_cause',
                  'flag_otherresp',
                  'flag_otherunk',
                  'flag_nephr',
                  'flag_inflpn',
                  'flag_cov19mcod',
                  'flag_cov19ucod',
                  'flag_sept',
                  'flag_diab',
                  'flag_alz',
                  'flag_clrd',
                  'flag_stroke',
                  'flag_hd',
                  'flag_neopl',
                  'flag_allcause',
                  'flag_natcause']

In [12]:
# Display the dataframe
cdc_df

,state,year,week,week_ending_date,all_causes,natural_causes,septicemia,malignant_neoplasms,diabetes,alzheimers,...,flag_cov19ucod,flag_sept,flag_diab,flag_alz,flag_clrd,flag_stroke,flag_hd,flag_neopl,flag_allcause,flag_natcause
0,Alabama,2019,1,2019-01-05,1077,993,30,198,22,60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Alabama,2019,2,2019-01-12,1090,994,25,187,24,49,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Alabama,2019,3,2019-01-19,1114,1042,22,238,18,48,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Alabama,2019,4,2019-01-26,1063,994,21,165,22,50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Alabama,2019,5,2019-02-02,1095,1026,18,199,19,52,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Hawaii,2019,17,2019-04-27,221,211,NaN,49,NaN,NaN,...,NaN,Suppressed (counts 1-9),Suppressed (counts 1-9),Suppressed (counts 1-9),Suppressed (counts 1-9),NaN,NaN,NaN,NaN,NaN
996,Hawaii,2019,18,2019-05-04,209,190,NaN,37,NaN,NaN,...,NaN,Suppressed (counts 1-9),Suppressed (counts 1-9),Suppressed (counts 1-9),Suppressed (counts 1-9),NaN,NaN,NaN,NaN,NaN
997,Hawaii,2019,19,2019-05-11,246,232,NaN,52,NaN,NaN,...,NaN,Suppressed (counts 1-9),Suppressed (counts 1-9),Suppressed (counts 1-9),Suppressed (counts 1-9),NaN,NaN,NaN,NaN,NaN
998,Hawaii,2019,20,2019-05-18,233,213,NaN,53,NaN,NaN,...,NaN,Suppressed (counts 1-9),Suppressed (counts 1-9),Suppressed (counts 1-9),Suppressed (counts 1-9),NaN,NaN,NaN,NaN,NaN
999,Hawaii,2019,21,2019-05-25,239,225,0,63,NaN,13,...,NaN,NaN,Suppressed (counts 1-9),NaN,Suppressed (counts 1-9),NaN,NaN,NaN,NaN,NaN

In [13]:
# Build 2019 and 2020 dataframes, just in case
cdc_2019_df = cdc_df.loc[cdc_df['year']=="2019"]
cdc_2020_df = cdc_df.loc[cdc_df['year']=="2020"]

## Get Covid Tracking Project data
Source: https://covidtracking.com

#### Build latest values dataframe

In [14]:
covidtracking_current_url = 'https://api.covidtracking.com/v1/states/current.json'
covidtracking_current_response = requests.get(covidtracking_current_url)
covidtracking_current_json = covidtracking_current_response.json()

# Convert to a dataframe
covidtracking_current_df = pd.DataFrame.from_dict(covidtracking_current_json)

In [15]:
# Display the dataframe
covidtracking_current_df

,date,state,positive,negative,pending,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20200928,AK,8549,436242,NaN,444791,43.0,NaN,NaN,NaN,...,444791,0,0,4e69422096acf75151468261082a237436cef891,0,0,0,0,0,
1,20200928,AL,152983,980291,NaN,1116346,753.0,17091.0,NaN,1798.0,...,1133274,0,239,7c8d97e72cc9e00f4d59d877297d6413d2f49138,0,0,0,0,0,
2,20200928,AR,82049,918177,NaN,997698,491.0,5248.0,231.0,NaN,...,1000226,21,13,b709c3e13433dcdeb90a274d7e3353f0eb886bf9,0,0,0,0,0,
3,20200928,AS,0,1571,NaN,1571,NaN,NaN,NaN,NaN,...,1571,0,0,d3ac2fc4e017ac48460c41a526bea4251d80cc7f,0,0,0,0,0,
4,20200928,AZ,217510,1235742,NaN,1448712,468.0,22019.0,115.0,NaN,...,1453252,0,4,76daa017cbe7b18563b3d021f9b623f1d3a30ec9,0,0,0,0,0,
5,20200928,CA,805263,13679589,NaN,14484852,3160.0,NaN,831.0,NaN,...,14484852,21,0,1e3dec497984a20226f60fd6a4bef28d2c950802,0,0,0,0,0,
6,20200928,CO,69079,824302,NaN,1313403,263.0,7523.0,NaN,NaN,...,893381,0,3,1c103433ab72a02dfc873988a610a50ebfaa5fa4,0,0,0,0,0,
7,20200928,CT,57147,1514059,NaN,1571206,75.0,11560.0,NaN,NaN,...,1571206,2,0,cce8c1b9eddcbda868fbe5f1ca60af442efeb5a7,0,0,0,0,0,
8,20200928,DC,15264,367784,NaN,383048,90.0,NaN,27.0,NaN,...,383048,0,0,facd4d9a54810759d5d18388c5ff6e54b99f6fbb,0,0,0,0,0,
9,20200928,DE,20389,263426,NaN,283815,60.0,NaN,13.0,NaN,...,283815,1,0,a6b318695f876cf27eaf85294c9c6acdac57ebdb,0,0,0,0,0,
10,20200928,FL,701302,4560370,4002.0,5261672,2122.0,44103.0,NaN,NaN,...,5261672,5,73,84d904ec9cc919e08ff8265473d009d1ad2a0120,0,0,0,0,0,
11,20200928,GA,315281,2583217,NaN,2898498,1849.0,28197.0,NaN,5194.0,...,2898498,15,18,18c720c7e8eae51b027ff95ddc5ba71515573880,0,0,0,0,0,
12,20200928,GU,2390,46821,NaN,49211,28.0,NaN,10.0,NaN,...,49211,3,0,4634ba79fc45c7231de6e149dcf9ae6461ab0607,0,0,0,0,0,
13,20200928,HI,12116,281446,NaN,293562,148.0,816.0,48.0,NaN,...,293562,1,14,869efd7124624fef7345072bdf23a184d74338cf,0,0,0,0,0,
14,20200928,IA,84002,671314,NaN,755316,353.0,NaN,96.0,NaN,...,755316,6,0,147ae923d5dd6b5a1ca475201e7eba7876cf4714,0,0,0,0,0,
15,20200928,ID,40501,266353,NaN,303252,135.0,1814.0,44.0,452.0,...,306854,0,3,c300d927b2490662c58862e90355f937460c6737,0,0,0,0,0,
16,20200928,IL,292128,5231013,NaN,5523141,1491.0,NaN,346.0,NaN,...,5523141,13,0,52b0f6484ca840452db5dce0e5dc630236b532e9,0,0,0,0,0,
17,20200928,IN,118322,1247972,NaN,1366294,957.0,12654.0,299.0,2515.0,...,1366294,11,58,0e7ba55e20500a57dcc6ed4d86d71c3fd6cbf6c9,0,0,0,0,0,
18,20200928,KS,58629,455280,NaN,513909,270.0,2852.0,88.0,785.0,...,513909,5,36,59e5ae7439200f608dd37b82896789c1688af1fd,0,0,0,0,0,
19,20200928,KY,66939,1234252,NaN,1293140,507.0,5208.0,106.0,1514.0,...,1301191,5,15,6843eb9d1ae1a86801cabb5b9b0b2963c2b298d0,0,0,0,0,0,
20,20200928,LA,166315,2123303,NaN,2289618,563.0,NaN,NaN,NaN,...,2289618,15,0,c82e75ed26f55bf08bbacc26f39b35674295ba3a,0,0,0,0,0,
21,20200928,MA,131072,2076881,NaN,3931219,418.0,12648.0,85.0,NaN,...,2207953,11,3,07f624fb6ddb8060a9545268010162501bcfbdc2,0,0,0,0,0,
22,20200928,MD,123880,1479219,NaN,1603099,315.0,15428.0,82.0,NaN,...,1603099,3,30,793154dee573e23e5cea267c97b50bab3be9d038,0,0,0,0,0,
23,20200928,ME,5300,418096,NaN,423396,8.0,446.0,2.0,NaN,...,423396,0,1,a20cef9fc3aa2a9981226bf0d5b81b61fcbb742e,0,0,0,0,0,
24,20200928,MI,135702,3458288,NaN,3593990,557.0,NaN,137.0,NaN,...,3593990,7,0,0b90ad59e5dac30cc3014611350572c931f5555b,0,0,0,0,0,
25,20200928,MN,97638,1300227,NaN,2003115,340.0,7546.0,120.0,2111.0,...,1397865,7,53,6505868897a6976d9d45503e31d4a5968b1a16ff,0,0,0,0,0,
26,20200928,MO,124686,1178272,NaN,1302958,1137.0,NaN,NaN,NaN,...,1302958,1,0,be24d322f6f1164a2b77f0190f1e8fed716e88d7,0,0,0,0,0,
27,20200928,MP,70,14776,NaN,14846,NaN,4.0,NaN,NaN,...,14846,0,0,efe0a5208d0124f01506e96f1108ae641134dae0,0,0,0,0,0,
28,20200928,MS,97049,638843,NaN,735892,601.0,5844.0,147.0,NaN,...,735892,2,237,0e8b6e3cb2d3f2d70a6fe37dff6707e8be63bd2b,0,0,0,0,0,
29,20200928,MT,12413,324783,NaN,337196,158.0,698.0,NaN,NaN,...,337196,1,11,7c53281152ead8bdba71ceb343219b348361495e,0,0,0,0,0,
30,20200928,NC,208248,2796285,NaN,3004533,897.0,NaN,271.0,NaN,...,3004533,4,0,f320121ee120191b78b7daef5ffda920942d8a88,0,0,0,0,0,
31,20200928,ND,20983,217754,NaN,603922,105.0,828.0,18.0,201.0,...,238737,21,13,a3da824e44101ed24dbbdfbd553cb21bf451a38e,0,0,0,0,0,
32,20200928,NE,44063,404298,NaN,448361,224.0,2280.0,NaN,NaN,...,448361,1,1,c60f87bdfaed0a8fda18eebc1c88467018eaf456,0,0,0,0,0,
33,20200928,NH,8208,261159,NaN,432396,16.0,737.0,NaN,233.0,...,269367,0,1,b60ed2d52f6a0a5dfe558e82f8ebe2b419ab9879,0,0,0,0,0,
34,20200928,NJ,204107,3362197,NaN,3566304,421.0,23338.0,91.0,NaN,...,3566304,-2,11,1c653badd105121e0ba1fd12b1b8708432eeabff,0,0,0,0,0,
35,20200928,NM,28844,876485,NaN,905329,66.0,3443.0,NaN,NaN,...,905329,0,8,4bbb6de71263b86f5556b40635454a4236fc5c8e,0,0,0,0,0,
36,20200928,NV,79191,613482,NaN,692673,451.0,NaN,128.0,NaN,...,692673,0,0,98f2fbe6870928374158a954c0a34897fa5fbfd6,0,0,0,0,0,
37,20200928,NY,456460,10104662,NaN,10561122,543.0,89995.0,135.0,NaN,...,10561122,12,0,01f9649685713c44d62ef31c52aa112289ab57b8,0,0,0,0,0,
38,20200928,OH,151802,2954374,NaN,3106176,681.0,15307.0,197.0,3261.0,...,3106176,5,91,e9d129f06672fcf3893bb287947d5d1129d748a9,0,0,0,0,0,
39,20200928,OK,85194,1075475,6653.0,1160669,579.0,6273.0,223.0,NaN,...,1160669,3,21,5b60cf3a62a6731225faacc79104cdd1d7034905,0,0,0,0,0,
40,20200928,OR,32994,642035,NaN,675029,191.0,2538.0,44.0,NaN,...,675029,0,42,07ae9c938d164be47c5d19f02c15f0306e961da7,0,0,0,0,0,
41,20200928,PA,156826,1855491,NaN,2012317,481.0,NaN,NaN,NaN,...,2012317,1,0,e830978a393ee7fb0b44ac06234751b31a11778e,0,0,0,0,0,
42,20200928,PR,47422,305972,NaN,353394,339.0,NaN,69.0,NaN,...,353394,4,0,e5230935d61de7eec1e23ae0ab4bb651e1d623b3,0,0,0,0,0,
43,20200928,RI,24424,311260,NaN,753156,94.0,2725.0,8.0,NaN,...,335684,0,0,9b307a5a601295dd5408c440e075cc2906cfa130,0,0,0,0,0,
44,20200928,SC,146455,1127473,NaN,1273928,753.0,9065.0,172.0,NaN,...,1273928,11,22,65ca22745ba380c7453693acda3dbf69212b07c9,0,0,0,0,0,
45,20200928,SD,21738,166606,NaN,188344,209.0,1488.0,NaN,NaN,...,188344,0,15,a8534c801df82eddf7a66ab295c868f8a06d6898,0,0,0,0,0,
46,20200928,TN,193732,2653610,NaN,2847342,832.0,8619.0,259.0,NaN,...,2847342,12,42,884cecdf9d8e47e10efe8292ad9b179a080e304b,0,0,0,0,0,
47,20200928,TX,739743,5432012,NaN,6171755,3201.0,NaN,1056.0,NaN,...,6171755,11,0,dc5ba131fa7ec6b4fbc1540180b24d5391cc035a,0,0,0,0,0,
48,20200928,UT,71442,746019,NaN,817461,174.0,3757.0,66.0,895.0,...,817461,0,28,56ea8bc6eed075dc196dd12e761fdae762a43540,0,0,0,0,0,
49,20200928,VA,146593,1888024,288.0,2027168,890.0,18373.0,193.0,NaN,...,2034617,13,62,3a559076974b35d9bb2b76511e01f87f0f4e8579,0,0,0,0,0,
50,20200928,VI,1317,18843,7.0,20160,NaN,NaN,NaN,NaN,...,20160,0,0,a0931ef3801c0660e8a8f25aaae55a91a904d073,0,0,0,0,0,
51,20200928,VT,1745,160180,NaN,161925,3.0,NaN,NaN,NaN,...,161925,0,0,bd4c4841f151c633869cb4cd0f370745ad731050,0,0,0,0,0,
52,20200928,WA,86269,1750937,NaN,1837206,268.0,7455.0,NaN,NaN,...,1837206,0,24,9a54cc8377ee5bede6aad8cae0c7b694311e09b4,0,0,0,0,0,
53,20200928,WI,124217,1405377,210.0,1529594,571.0,7142.0,166.0,1162.0,...,1529594,2,47,9009af3aced3757f88552a220b96ba6e7e5c6364,0,0,0,0,0,
54,20200928,WV,15512,537758,NaN,553270,168.0,NaN,51.0,NaN,...,553270,3,0,fc07bc91a9c2f9687a2d731620f2c0051cd6b158,0,0,0,0,0,
55,20200928,WY,5754,94362,NaN,100116,22.0,264.0,NaN,NaN,...,100116,0,2,75159b24dca6d0fd08ff9ebff33f242e0d880428,0,0,0,0,0,

#### Build latest values dataframe

In [16]:
covidtracking_all_url = 'https://api.covidtracking.com/v1/us/daily.json'
covidtracking_all_response = requests.get(covidtracking_all_url)
covidtracking_all_json = covidtracking_all_response.json()

# Convert to a dataframe
covidtracking_all_df = pd.DataFrame.from_dict(covidtracking_all_json)

In [17]:
# Display the dataframe
covidtracking_all_df

,date,states,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,...,totalTestResults,lastModified,total,posNeg,deathIncrease,hospitalizedIncrease,negativeIncrease,positiveIncrease,totalTestResultsIncrease,hash
0,20200928,56,7117251,91574039,11160.0,29539.0,405326.0,5974.0,20121.0,1518.0,...,102342416,2020-09-28T00:00:00Z,0,0,257,1241,919021,36524,1010138,981ef3a0f4d5aaad26d07479fa531d90778a7331
1,20200927,56,7080727,90655018,11136.0,29434.0,404085.0,6080.0,20050.0,1511.0,...,101332278,2020-09-27T00:00:00Z,0,0,307,760,669524,35454,825248,19b8b285032c1ec14392f20904a8d0ac3d57dac2
2,20200926,56,7045273,89985494,11183.0,29554.0,403325.0,6057.0,20002.0,1509.0,...,100507030,2020-09-26T00:00:00Z,0,0,869,1154,889151,47836,1018755,16075f11d704d0c5befc819ae4a9a32f47069729
3,20200925,56,6997437,89096343,10905.0,29769.0,402171.0,6133.0,19919.0,1506.0,...,99488275,2020-09-25T00:00:00Z,0,0,844,1331,856519,55526,1011675,8d311e73fe038522a1a6be4bc3202de206ec0adb
4,20200924,56,6941911,88239824,12008.0,30043.0,400840.0,6168.0,19555.0,1560.0,...,98476600,2020-09-24T00:00:00Z,0,0,921,1588,823449,43772,940353,375a88dd29991abc1946cd7f98f4f20a9e37fb5d
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246,20200126,2,0,0,NaN,NaN,NaN,NaN,NaN,NaN,...,2,2020-01-26T00:00:00Z,0,0,0,0,0,0,0,88a196879207bd090a61fb515beb301e84377977
247,20200125,2,0,0,NaN,NaN,NaN,NaN,NaN,NaN,...,2,2020-01-25T00:00:00Z,0,0,0,0,0,0,0,43330e2f11d476ebcdd85e1a47551958e4c1e7ea
248,20200124,2,0,0,NaN,NaN,NaN,NaN,NaN,NaN,...,2,2020-01-24T00:00:00Z,0,0,0,0,0,0,0,5f7a0cce04041596513629d55777a16f3aa65e8b
249,20200123,2,0,0,NaN,NaN,NaN,NaN,NaN,NaN,...,2,2020-01-23T00:00:00Z,0,0,0,0,0,0,1,53f6a5e3985cebdead7ca275b0890ef975f0ccdd
250,20200122,2,0,0,NaN,NaN,NaN,NaN,NaN,NaN,...,1,2020-01-22T00:00:00Z,0,0,0,0,0,0,0,c4b5f0c9f5749c849b8a27d48be5c7619d1a3cb2

## Get the county information table

In [18]:
# Scrape the county info table from Wikipedia
county_url = 'https://en.wikipedia.org/wiki/User:Michael_J/County_table'
county_table = pd.read_html(county_url)

In [19]:
# Grab the first table on the page and convert to dataframe
county_table_df = county_table[0]

# Drop columns we don't need
county_table_df = county_table_df.drop(columns=['Land AreakmÂ²','Land AreamiÂ²','Water AreakmÂ²','Water AreamiÂ²','Total AreakmÂ²','Total AreamiÂ²','Sort [1]','Population(2010)'])

# Rename the columns
county_table_df.columns = ['state','fips','county','county_seat','lat','lon']

# Remove the + sign from latitude column
county_table_df['lat'] = county_table_df['lat'].str[1:]
county_table_df['lon'] = county_table_df['lon'].str[1:]

# Remove degree symbol from lat and lon
county_table_df['lat'] = county_table_df['lat'].str[:-1]
county_table_df['lon'] = county_table_df['lon'].str[:-1]

# Set as a float for lat and lon
county_table_df['lat'] = county_table_df['lat'].astype(float)
county_table_df['lon'] = county_table_df['lon'].astype(float)

In [20]:
# Convert the lon to an actual negative value (for all, since North America)
county_table_df['lon'] = -county_table_df['lon']

In [21]:
# Display the dataframe
county_table_df

     state   fips      county  county_seat        lat         lon
0       AL   1001     Autauga   Prattville  32.536382  -86.644490
1       AL   1003     Baldwin  Bay Minette  30.659218  -87.746067
2       AL   1005     Barbour      Clayton  31.870670  -85.405456
3       AL   1007        Bibb  Centreville  33.015893  -87.127148
4       AL   1009      Blount      Oneonta  33.977448  -86.567246
...    ...    ...         ...          ...        ...         ...
3138    WY  56037  Sweetwater  Green River  41.660339 -108.875676
3139    WY  56039       Teton      Jackson  44.049321 -110.588102
3140    WY  56041       Uinta     Evanston  41.284726 -110.558947
3141    WY  56043    Washakie      Worland  43.878831 -107.669052
3142    WY  56045      Weston    Newcastle  43.846213 -104.570020

[3143 rows x 6 columns]

## Connect and load to postgressql
### Available dataframes:
<b>NYT:</b> covid_all_df, covid_latest_df <br>
<b>Masks:</b> masks_df <br>
<b>CDC:</b> cdc_df, cdc_2019_df, cdc_2020_df <br>
<b>Covid tracking:</b> covidtracking_current_df, covidtracking_all_df<br>
<b>County info:</b> county_table_df

In [22]:
# Connect to local database
# Make sure you fill out the user / password for MySQL
rds_connection_string = "covid_db_admin:pass123@localhost:5432/covid_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [23]:
# Check for Tables
engine.table_names()

['cdc', 'covid', 'masks', 'county']

### Load data into database

In [24]:
# Load covid_all_df dataframe into database
covid_all_df.to_sql(name='covid', con=engine, if_exists='append', index=False)

In [25]:
# Load mask_df dataframe into database
masks_df.to_sql(name='masks', con=engine, if_exists='append', index=False)

In [26]:
# Load cdc_df dataframe into database
cdc_df.to_sql(name='cdc', con=engine, if_exists='append', index=False)

In [27]:
# Not yet working
#covidtracking_current_df.to_sql(name='covidtracking_current', con=engine, if_exists='append', index=False)

In [28]:
# Not yet working
#covidtracking_all_df.to_sql(name='covidtracking_all', con=engine, if_exists='append', index=False)

In [29]:
# Load county_table_df dataframe into database
county_table_df.to_sql(name='county', con=engine, if_exists='append', index=False)

### Confirm data load

In [30]:
# Confirm covid data has been added
pd.read_sql_query('select * from covid', con=engine)

              date      county       state   fips  cases  deaths
0       2020-01-21   Snohomish  Washington  53061      1       0
1       2020-01-22   Snohomish  Washington  53061      1       0
2       2020-01-23   Snohomish  Washington  53061      1       0
3       2020-01-24        Cook    Illinois  17031      1       0
4       2020-01-24   Snohomish  Washington  53061      1       0
...            ...         ...         ...    ...    ...     ...
574233  2020-09-28  Sweetwater     Wyoming  56037    334       2
574234  2020-09-28       Teton     Wyoming  56039    560       1
574235  2020-09-28       Uinta     Wyoming  56041    354       2
574236  2020-09-28    Washakie     Wyoming  56043    114       6
574237  2020-09-28      Weston     Wyoming  56045     36       0

[574238 rows x 6 columns]

In [31]:
# Confirm mask use data has been added
pd.read_sql_query('select * from masks', con=engine)

       fips  never  rarely  sometimes  frequently  always
0      1001  0.053   0.074      0.134       0.295   0.444
1      1003  0.083   0.059      0.098       0.323   0.436
2      1005  0.067   0.121      0.120       0.201   0.491
3      1007  0.020   0.034      0.096       0.278   0.572
4      1009  0.053   0.114      0.180       0.194   0.459
...     ...    ...     ...        ...         ...     ...
3137  56037  0.061   0.295      0.230       0.146   0.268
3138  56039  0.095   0.157      0.160       0.247   0.340
3139  56041  0.098   0.278      0.154       0.207   0.264
3140  56043  0.204   0.155      0.069       0.285   0.287
3141  56045  0.142   0.129      0.148       0.207   0.374

[3142 rows x 6 columns]

In [32]:
# Confirm cdc data has been added
pd.read_sql_query('select * from cdc', con=engine)

,state,year,week,week_ending_date,all_causes,natural_causes,septicemia,malignant_neoplasms,diabetes,alzheimers,...,flag_cov19ucod,flag_sept,flag_diab,flag_alz,flag_clrd,flag_stroke,flag_hd,flag_neopl,flag_allcause,flag_natcause
0,Alabama,2019,1,2019-01-05,1077.0,993.0,30.0,198.0,22.0,60.0,...,None,None,None,None,None,None,None,None,None,None
1,Alabama,2019,2,2019-01-12,1090.0,994.0,25.0,187.0,24.0,49.0,...,None,None,None,None,None,None,None,None,None,None
2,Alabama,2019,3,2019-01-19,1114.0,1042.0,22.0,238.0,18.0,48.0,...,None,None,None,None,None,None,None,None,None,None
3,Alabama,2019,4,2019-01-26,1063.0,994.0,21.0,165.0,22.0,50.0,...,None,None,None,None,None,None,None,None,None,None
4,Alabama,2019,5,2019-02-02,1095.0,1026.0,18.0,199.0,19.0,52.0,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Hawaii,2019,17,2019-04-27,221.0,211.0,NaN,49.0,NaN,NaN,...,None,Suppressed (counts 1-9),Suppressed (counts 1-9),Suppressed (counts 1-9),Suppressed (counts 1-9),None,None,None,None,None
996,Hawaii,2019,18,2019-05-04,209.0,190.0,NaN,37.0,NaN,NaN,...,None,Suppressed (counts 1-9),Suppressed (counts 1-9),Suppressed (counts 1-9),Suppressed (counts 1-9),None,None,None,None,None
997,Hawaii,2019,19,2019-05-11,246.0,232.0,NaN,52.0,NaN,NaN,...,None,Suppressed (counts 1-9),Suppressed (counts 1-9),Suppressed (counts 1-9),Suppressed (counts 1-9),None,None,None,None,None
998,Hawaii,2019,20,2019-05-18,233.0,213.0,NaN,53.0,NaN,NaN,...,None,Suppressed (counts 1-9),Suppressed (counts 1-9),Suppressed (counts 1-9),Suppressed (counts 1-9),None,None,None,None,None
999,Hawaii,2019,21,2019-05-25,239.0,225.0,0.0,63.0,NaN,13.0,...,None,None,Suppressed (counts 1-9),None,Suppressed (counts 1-9),None,None,None,None,None

In [33]:
# Confirm county data has been added
pd.read_sql_query('select * from county', con=engine)

     state   fips      county  county_seat  lat  lon
0       AL   1001     Autauga   Prattville   33  -87
1       AL   1003     Baldwin  Bay Minette   31  -88
2       AL   1005     Barbour      Clayton   32  -85
3       AL   1007        Bibb  Centreville   33  -87
4       AL   1009      Blount      Oneonta   34  -87
...    ...    ...         ...          ...  ...  ...
3138    WY  56037  Sweetwater  Green River   42 -109
3139    WY  56039       Teton      Jackson   44 -111
3140    WY  56041       Uinta     Evanston   41 -111
3141    WY  56043    Washakie      Worland   44 -108
3142    WY  56045      Weston    Newcastle   44 -105

[3143 rows x 6 columns]