# Set up

In [1]:
import pandas as pd
from sqlalchemy import create_engine
import json
import requests
from config import db_login_info

## Get NYT county COVID data

In [2]:
# -----------------------
# This is a NYTimes report on national COVID-19 cases and deaths, sorted by county
# From: https://github.com/nytimes/covid-19-data (us-counties.csv)
# -----------------------

# Pull in the live data
counties_path = "https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv"

# Save to a dataframe
covid_all_df = pd.read_csv(counties_path)

#### Build all values dataframe

In [3]:
# Drop rows with null values (we want complete data only)
covid_all_df = covid_all_df.dropna()

# Convert fips to int
covid_all_df = covid_all_df.astype({'fips': 'int'})

In [4]:
# Display the dataframe
covid_all_df

              date      county       state   fips  cases  deaths
0       2020-01-21   Snohomish  Washington  53061      1       0
1       2020-01-22   Snohomish  Washington  53061      1       0
2       2020-01-23   Snohomish  Washington  53061      1       0
3       2020-01-24        Cook    Illinois  17031      1       0
4       2020-01-24   Snohomish  Washington  53061      1       0
...            ...         ...         ...    ...    ...     ...
615474  2020-10-09  Sweetwater     Wyoming  56037    393       2
615475  2020-10-09       Teton     Wyoming  56039    656       1
615476  2020-10-09       Uinta     Wyoming  56041    378       2
615477  2020-10-09    Washakie     Wyoming  56043    122       6
615478  2020-10-09      Weston     Wyoming  56045     54       0

[609559 rows x 6 columns]

#### Build latest values dataframe

In [5]:
# Get the most up-to-date data
latest_date = covid_all_df['date'].iloc[-1]

# Make a dataframe holding that most recent data
covid_latest_df = covid_all_df.loc[covid_all_df['date']==latest_date]

In [6]:
# Display the dataframe
covid_latest_df

              date      county    state   fips  cases  deaths
612238  2020-10-09     Autauga  Alabama   1001   1882      28
612239  2020-10-09     Baldwin  Alabama   1003   6172      64
612240  2020-10-09     Barbour  Alabama   1005    939       9
612241  2020-10-09        Bibb  Alabama   1007    719      12
612242  2020-10-09      Blount  Alabama   1009   1689      16
...            ...         ...      ...    ...    ...     ...
615474  2020-10-09  Sweetwater  Wyoming  56037    393       2
615475  2020-10-09       Teton  Wyoming  56039    656       1
615476  2020-10-09       Uinta  Wyoming  56041    378       2
615477  2020-10-09    Washakie  Wyoming  56043    122       6
615478  2020-10-09      Weston  Wyoming  56045     54       0

[3212 rows x 6 columns]

## Get mask use data

In [7]:
# Import the mask CSV data
mask_path = "https://raw.githubusercontent.com/nytimes/covid-19-data/master/mask-use/mask-use-by-county.csv"

# Keep the leading 0 for fips
masks_df = pd.read_csv(mask_path, converters={'COUNTYFP': lambda x: str(x)})

In [8]:
# Clean up column names
masks_df.columns = ['fips','never','rarely','sometimes','frequently','always']

In [9]:
# Display the dataframe
masks_df

       fips  never  rarely  sometimes  frequently  always
0     01001  0.053   0.074      0.134       0.295   0.444
1     01003  0.083   0.059      0.098       0.323   0.436
2     01005  0.067   0.121      0.120       0.201   0.491
3     01007  0.020   0.034      0.096       0.278   0.572
4     01009  0.053   0.114      0.180       0.194   0.459
...     ...    ...     ...        ...         ...     ...
3137  56037  0.061   0.295      0.230       0.146   0.268
3138  56039  0.095   0.157      0.160       0.247   0.340
3139  56041  0.098   0.278      0.154       0.207   0.264
3140  56043  0.204   0.155      0.069       0.285   0.287
3141  56045  0.142   0.129      0.148       0.207   0.374

[3142 rows x 6 columns]

## Get CDC data
#### Source: https://data.cdc.gov/NCHS/Weekly-Counts-of-Deaths-by-State-and-Select-Causes/muzy-jte6

In [10]:
# Convert to a dataframe
cdc_df = pd.read_csv("../data/Weekly_Counts_of_Deaths_by_State_and_Select_Causes__2019-2020.csv")

In [11]:
# Drop columns we don't need
cdc_df.drop(list(cdc_df)[19:34], axis=1,inplace=True)

# Rename columns
cdc_df.columns = ['state',
                  'year',
                  'week',
                  'week_ending_date',
                  'all_causes',
                  'natural_causes',
                  'septicemia',
                  'malignant_neoplasms',
                  'diabetes',
                  'alzheimers',
                  'influenza_and_pneumonia',
                  'chronic_lower_respiratory',
                  'other_diseases_of_respiratory',
                  'nephritis_nephrotic_syndrome',
                  'symptoms_signs_and_abnormal',
                  'diseases_of_heart',
                  'cerebrovascular_diseases',
                  'covid_19_multiple_causes',
                  'covid_19_underlying_cause']     


# Change the null values (no data) to 0
cdc_df = cdc_df.fillna(0)

In [12]:
# Display the dataframe
cdc_df

,state,year,week,week_ending_date,all_causes,natural_causes,septicemia,malignant_neoplasms,diabetes,alzheimers,influenza_and_pneumonia,chronic_lower_respiratory,other_diseases_of_respiratory,nephritis_nephrotic_syndrome,symptoms_signs_and_abnormal,diseases_of_heart,cerebrovascular_diseases,covid_19_multiple_causes,covid_19_underlying_cause
0,Alabama,2019,1,2019-01-05,1077.0,993.0,30.0,198.0,22.0,60.0,21.0,63.0,14.0,21.0,27.0,261.0,53.0,0.0,0.0
1,Alabama,2019,2,2019-01-12,1090.0,994.0,25.0,187.0,24.0,49.0,18.0,85.0,21.0,13.0,11.0,275.0,65.0,0.0,0.0
2,Alabama,2019,3,2019-01-19,1114.0,1042.0,22.0,238.0,18.0,48.0,31.0,80.0,30.0,25.0,15.0,283.0,53.0,0.0,0.0
3,Alabama,2019,4,2019-01-26,1063.0,994.0,21.0,165.0,22.0,50.0,22.0,113.0,14.0,25.0,23.0,279.0,56.0,0.0,0.0
4,Alabama,2019,5,2019-02-02,1095.0,1026.0,18.0,199.0,19.0,52.0,19.0,80.0,20.0,24.0,21.0,290.0,50.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4901,United States,2020,35,2020-08-29,55315.0,52044.0,658.0,10781.0,1620.0,2260.0,617.0,2327.0,678.0,890.0,3028.0,10795.0,2733.0,5106.0,4587.0
4902,United States,2020,36,2020-09-05,52108.0,49073.0,610.0,10179.0,1504.0,2266.0,626.0,2213.0,698.0,802.0,2971.0,10429.0,2515.0,4162.0,3668.0
4903,United States,2020,37,2020-09-12,48078.0,45611.0,549.0,9723.0,1403.0,2025.0,567.0,2093.0,601.0,754.0,3041.0,9533.0,2526.0,3313.0,2923.0
4904,United States,2020,38,2020-09-19,38755.0,37168.0,459.0,8323.0,1105.0,1780.0,465.0,1742.0,533.0,600.0,2372.0,8047.0,1992.0,1902.0,1680.0
4905,United States,2020,39,2020-09-26,16946.0,16499.0,208.0,3890.0,441.0,866.0,207.0,798.0,262.0,272.0,996.0,3604.0,918.0,313.0,293.0

## Get Covid Tracking Project data
Source: https://covidtracking.com

#### Build latest values dataframe

In [13]:
covidtracking_current_url = 'https://api.covidtracking.com/v1/states/current.json'
covidtracking_current_response = requests.get(covidtracking_current_url)
covidtracking_current_json = covidtracking_current_response.json()

# Convert to a dataframe
covidtracking_current_df = pd.DataFrame.from_dict(covidtracking_current_json)

In [14]:
# Change the null values (no data) to 0
covidtracking_current_df = covidtracking_current_df.fillna(0)

In [15]:
# Remove columns we don't need
covidtracking_current_df.drop(list(covidtracking_current_df)[48:55], axis=1,inplace=True)
covidtracking_current_df.drop(list(covidtracking_current_df)[39], axis=1,inplace=True)
covidtracking_current_df.drop(list(covidtracking_current_df)[20], axis=1,inplace=True)
covidtracking_current_df.drop(list(covidtracking_current_df)[15:18], axis=1,inplace=True)

In [16]:
covidtracking_current_df.columns = ['date', 'state', 'positive', 'probable_cases', 'negative', 'pending',
       'total_test_results', 'hospitalized_currently', 'hospitalized_cumulative',
       'icu_currently', 'icu_cumulative', 'ventilator_currently',
       'ventilator_cumulative', 'recovered', 'data_quality_grade', 'deaths',
       'hospitalized', 'total_tests_viral', 'positive_tests_viral',
       'negative_tests_viral', 'positive_cases_viral', 'deaths_confirmed',
       'deaths_probable', 'total_test_encounters_viral', 'total_tests_people_viral',
       'total_tests_antibody', 'positive_tests_antibody', 'negative_tests_antibody',
       'total_tests_people_antibody', 'positive_tests_people_antibody',
       'negative_tests_people_antibody', 'total_tests_people_antigen',
       'positive_tests_people_antigen', 'total_tests_antigen',
       'positive_tests_antigen', 'positive_increase', 'negative_increase', 'total',
       'total_test_results_source', 'total_test_results_increase', 'pos_neg',
       'death_increase', 'hospitalized_increase']

In [17]:
# Display the dataframe
covidtracking_current_df

,date,state,positive,probable_cases,negative,pending,total_test_results,hospitalized_currently,hospitalized_cumulative,icu_currently,...,total_tests_antigen,positive_tests_antigen,positive_increase,negative_increase,total,total_test_results_source,total_test_results_increase,pos_neg,death_increase,hospitalized_increase
0,20201009,AK,10176,0.0,482894,0.0,493070,51.0,0.0,0.0,...,0.0,0.0,180,1719,493070,posNeg,1899,493070,0,0
1,20201009,AL,163465,19565.0,1052552,0.0,1196452,816.0,17989.0,0.0,...,0.0,0.0,1490,10506,1216017,posNeg,11742,1216017,16,0
2,20201009,AR,90145,4165.0,1025546,0.0,1111526,546.0,5805.0,237.0,...,21856.0,3300.0,0,0,1115691,posNeg,0,1115691,0,0
3,20201009,AS,0,0.0,1616,0.0,1616,0.0,0.0,0.0,...,0.0,0.0,0,0,1616,posNeg,0,1616,0,0
4,20201009,AZ,224084,4837.0,1324198,0.0,1543445,706.0,20199.0,155.0,...,0.0,0.0,683,11699,1548282,posNeg,12350,1548282,3,28
5,20201009,CA,838606,0.0,14897891,0.0,15736497,3186.0,0.0,742.0,...,0.0,0.0,3806,109068,15736497,posNeg,112874,15736497,67,0
6,20201009,CO,75785,5226.0,914437,0.0,1496198,356.0,7834.0,0.0,...,0.0,0.0,863,9322,990222,totalTestEncountersViral,18897,990222,7,63
7,20201009,CT,60038,2440.0,1736501,0.0,1796539,134.0,11845.0,0.0,...,0.0,0.0,290,16991,1796539,posNeg,17281,1796539,3,0
8,20201009,DC,15843,0.0,406382,0.0,422225,99.0,0.0,27.0,...,0.0,0.0,78,5331,422225,posNeg,5409,422225,0,0
9,20201009,DE,21827,1079.0,282540,0.0,304367,104.0,0.0,21.0,...,0.0,0.0,145,2720,304367,posNeg,2865,304367,0,0
10,20201009,FL,728921,0.0,4789241,4176.0,5518162,2143.0,46201.0,0.0,...,0.0,0.0,2908,25496,5522338,posNeg,28404,5518162,118,196
11,20201009,GA,329032,0.0,2783597,0.0,3112629,1717.0,29510.0,0.0,...,0.0,0.0,1625,27883,3112629,posNeg,29508,3112629,54,124
12,20201009,GU,2989,7.0,51506,0.0,54495,55.0,0.0,14.0,...,16.0,7.0,55,369,54495,posNeg,424,54495,0,0
13,20201009,HI,13333,187.0,295153,0.0,443992,111.0,900.0,32.0,...,0.0,0.0,101,0,308486,posNeg,3903,308486,1,6
14,20201009,IA,93187,0.0,715614,0.0,808801,461.0,0.0,104.0,...,0.0,0.0,1042,4722,808801,posNeg,5764,808801,16,0
15,20201009,ID,46426,4686.0,285049,0.0,326789,191.0,1997.0,41.0,...,0.0,0.0,673,1941,331475,posNeg,2461,331475,3,25
16,20201009,IL,316556,3038.0,5863861,0.0,6180417,1812.0,0.0,395.0,...,0.0,0.0,3117,68781,6180417,posNeg,71898,6180417,32,0
17,20201009,IN,131493,0.0,1331943,0.0,1463436,1187.0,13648.0,357.0,...,0.0,0.0,1816,10229,1463436,posNeg,12045,1463436,19,111
18,20201009,KS,65807,0.0,494382,0.0,560189,469.0,3185.0,119.0,...,0.0,0.0,1855,8936,560189,posNeg,10791,560189,40,64
19,20201009,KY,78456,10821.0,1457629,0.0,1525264,679.0,6033.0,172.0,...,29238.0,0.0,1001,23846,1536085,posNeg,24651,1536085,8,219
20,20201009,LA,173406,2528.0,2276681,0.0,2450087,582.0,0.0,0.0,...,0.0,0.0,257,9615,2450087,posNeg,9872,2450087,26,0
21,20201009,MA,137701,2690.0,2245381,0.0,4601434,500.0,12846.0,88.0,...,0.0,0.0,765,18833,2383082,totalTestsViral,59918,2383082,12,16
22,20201009,MD,130159,0.0,1577208,0.0,1707367,391.0,15956.0,96.0,...,0.0,0.0,734,10334,1707367,posNeg,11068,1707367,11,58
23,20201009,ME,5666,591.0,485386,0.0,491052,7.0,460.0,5.0,...,0.0,0.0,27,8410,491052,posNeg,8437,491052,1,1
24,20201009,MI,147816,14682.0,3817200,0.0,3965016,862.0,0.0,220.0,...,0.0,0.0,1323,41853,3965016,posNeg,43176,3965016,7,0
25,20201009,MN,109312,0.0,1434230,0.0,2256165,471.0,8251.0,133.0,...,0.0,0.0,1390,15593,1543542,posNeg,31971,1543542,14,64
26,20201009,MO,139164,0.0,1260455,0.0,2000979,1303.0,0.0,0.0,...,18390.0,3722.0,2008,10472,1399619,posNeg,21589,1399619,136,0
27,20201009,MP,75,0.0,15121,0.0,15196,0.0,4.0,0.0,...,0.0,0.0,0,0,15196,posNeg,0,15196,0,0
28,20201009,MS,103681,9175.0,704655,0.0,808336,627.0,6053.0,130.0,...,66989.0,0.0,862,0,808336,posNeg,862,808336,6,0
29,20201009,MT,17399,0.0,369347,0.0,386746,266.0,868.0,0.0,...,0.0,0.0,722,4359,386746,posNeg,5081,386746,9,17
30,20201009,NC,227431,6466.0,3083854,0.0,3311285,1065.0,0.0,299.0,...,8219.0,0.0,2034,40296,3311285,posNeg,42330,3311285,25,0
31,20201009,ND,26040,0.0,229156,0.0,670039,202.0,1037.0,39.0,...,0.0,0.0,656,1133,255196,totalTestEncountersViral,8833,255196,0,21
32,20201009,NE,50059,0.0,444408,0.0,494467,293.0,2481.0,0.0,...,0.0,0.0,663,3674,494467,posNeg,4337,494467,7,13
33,20201009,NH,8878,0.0,278750,0.0,482118,14.0,747.0,0.0,...,0.0,0.0,0,0,287628,posNeg,0,287628,0,0
34,20201009,NJ,212013,0.0,3666975,0.0,3878988,666.0,23821.0,150.0,...,0.0,0.0,865,35456,3878988,posNeg,36321,3878988,4,58
35,20201009,NM,31756,0.0,942189,0.0,973945,119.0,3652.0,0.0,...,0.0,0.0,384,8242,973945,posNeg,8626,973945,3,27
36,20201009,NV,84593,0.0,645641,0.0,730234,502.0,0.0,127.0,...,0.0,0.0,766,5270,730234,posNeg,6036,730234,8,0
37,20201009,NY,471696,0.0,11315044,0.0,11786740,779.0,89995.0,168.0,...,0.0,0.0,1592,137708,11786740,posNeg,139300,11786740,6,0
38,20201009,OH,166102,9622.0,3371860,0.0,3537962,849.0,16301.0,240.0,...,0.0,0.0,1840,46392,3537962,posNeg,48232,3537962,11,101
39,20201009,OK,97088,0.0,1224883,8256.0,1321971,749.0,7124.0,265.0,...,0.0,0.0,1524,15577,1330227,posNeg,17101,1321971,6,102
40,20201009,OR,36526,1841.0,694145,0.0,730671,212.0,2741.0,49.0,...,0.0,0.0,892,11211,730671,posNeg,12103,730671,14,36
41,20201009,PA,169308,5987.0,1999765,0.0,2169073,734.0,0.0,0.0,...,0.0,0.0,1380,14662,2169073,posNeg,16042,2169073,9,0
42,20201009,PR,52892,26566.0,305972,0.0,358864,354.0,0.0,55.0,...,0.0,0.0,598,0,358864,posNeg,598,358864,5,0
43,20201009,RI,26294,0.0,341767,0.0,864638,112.0,2902.0,10.0,...,0.0,0.0,249,3498,368061,totalTestEncountersViral,5209,368061,3,13
44,20201009,SC,155676,5643.0,1296892,0.0,1452568,748.0,9519.0,193.0,...,65448.0,12054.0,921,21008,1452568,posNeg,21929,1452568,16,44
45,20201009,SD,27215,504.0,186938,0.0,214153,267.0,1782.0,0.0,...,0.0,0.0,804,2088,214153,posNeg,2862,214153,5,65
46,20201009,TN,211003,9473.0,2905769,0.0,3116772,1186.0,9133.0,315.0,...,0.0,0.0,1556,25363,3116772,posNeg,26919,3116772,27,39
47,20201009,TX,785830,0.0,5960200,0.0,6746030,3593.0,0.0,1138.0,...,148723.0,13493.0,4036,38888,6746030,posNeg,42924,6746030,98,0
48,20201009,UT,83290,0.0,817758,0.0,901048,261.0,4220.0,86.0,...,45157.0,2727.0,1343,7683,901048,posNeg,9026,901048,4,53
49,20201009,VA,156649,8721.0,2071582,312.0,2219510,963.0,19299.0,205.0,...,0.0,0.0,1114,28747,2228543,posNeg,29718,2228231,16,88
50,20201009,VI,1324,0.0,20434,34.0,21758,0.0,0.0,0.0,...,0.0,0.0,2,68,21792,posNeg,70,21758,0,0
51,20201009,VT,1846,0.0,168593,0.0,170439,0.0,0.0,0.0,...,0.0,0.0,8,1029,170439,posNeg,1037,170439,0,0
52,20201009,WA,91918,0.0,1924553,0.0,2016471,245.0,7733.0,0.0,...,0.0,0.0,710,28284,2016471,posNeg,28994,2016471,6,30
53,20201009,WI,152631,7813.0,1518662,300.0,1671293,876.0,8199.0,229.0,...,0.0,0.0,3164,11834,1671593,posNeg,14998,1671293,16,138
54,20201009,WV,17707,578.0,599916,0.0,617623,164.0,0.0,57.0,...,0.0,0.0,382,7581,617623,posNeg,7963,617623,6,0
55,20201009,WY,7335,1109.0,103176,0.0,110511,54.0,317.0,0.0,...,0.0,0.0,243,1326,110511,posNeg,1569,110511,0,4

#### Build all values dataframe

In [18]:
covidtracking_all_url = 'https://api.covidtracking.com/v1/us/daily.json'
covidtracking_all_response = requests.get(covidtracking_all_url)
covidtracking_all_json = covidtracking_all_response.json()

# Convert to a dataframe
covidtracking_all_df = pd.DataFrame.from_dict(covidtracking_all_json)

In [19]:
# Change the null values (no data) to 0
covidtracking_all_df = covidtracking_all_df.fillna(0)

In [20]:
# Remove columns we don't need
covidtracking_all_df.drop(list(covidtracking_all_df)[24], axis=1,inplace=True)
covidtracking_all_df.drop(list(covidtracking_all_df)[16], axis=1,inplace=True)
covidtracking_all_df.drop(list(covidtracking_all_df)[12], axis=1,inplace=True)

In [21]:
covidtracking_all_df.columns = ['date', 'states', 'positive', 'negative', 'pending',
       'hospitalized_currently', 'hospitalized_cumulative', 'icu_currently',
       'icu_cumulative', 'ventilator_currently', 'ventilator_cumulative',
       'recovered', 'deaths', 'hospitalized', 'total_test_results', 'total',
       'pos_neg', 'death_increase', 'hospitalized_increase', 'negative_increase',
       'positive_increase', 'total_test_results_increase']

In [22]:
# Display the dataframe
covidtracking_all_df

,date,states,positive,negative,pending,hospitalized_currently,hospitalized_cumulative,icu_currently,icu_cumulative,ventilator_currently,...,deaths,hospitalized,total_test_results,total,pos_neg,death_increase,hospitalized_increase,negative_increase,positive_increase,total_test_results_increase
0,20201009,56,7623648,100497078,13078.0,34839.0,420587.0,6713.0,21389.0,1655.0,...,205470.0,420587.0,113347658,0,0,904,1824,956046,57542,1098217
1,20201008,56,7566106,99541032,13087.0,34322.0,418763.0,6621.0,21217.0,1638.0,...,204566.0,418763.0,112249441,0,0,975,2052,875485,54870,1034249
2,20201007,56,7511236,98665547,12269.0,32105.0,416711.0,6507.0,21112.0,1646.0,...,203591.0,416711.0,111215192,0,0,916,2250,732692,50602,862764
3,20201006,56,7460634,97932855,8680.0,31346.0,414461.0,6438.0,20973.0,1609.0,...,202675.0,414461.0,110352428,0,0,634,-624,722475,38661,824253
4,20201005,56,7421973,97210380,11544.0,30098.0,415085.0,6209.0,20812.0,1515.0,...,202041.0,415085.0,109528175,0,0,326,1519,846256,38133,937079
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
257,20200126,2,0,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,2,0,0,0,0,0,0,0
258,20200125,2,0,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,2,0,0,0,0,0,0,0
259,20200124,2,0,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,2,0,0,0,0,0,0,0
260,20200123,2,0,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,2,0,0,0,0,0,0,1
261,20200122,2,0,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1,0,0,0,0,0,0,0

## Get the county information table

In [23]:
# Scrape the county info table from Wikipedia
county_url = 'https://en.wikipedia.org/wiki/User:Michael_J/County_table'
county_table = pd.read_html(county_url)

In [24]:
# Grab the first table on the page and convert to dataframe
county_table_df = county_table[0]

# Drop columns we don't need
county_table_df = county_table_df.drop(columns=['Land AreakmÂ²','Land AreamiÂ²','Water AreakmÂ²','Water AreamiÂ²','Total AreakmÂ²','Total AreamiÂ²','Sort [1]','Population(2010)'])

# Rename the columns
county_table_df.columns = ['state','fips','county','county_seat','lat','lon']

# Remove the + sign from latitude column
county_table_df['lat'] = county_table_df['lat'].str[1:]
county_table_df['lon'] = county_table_df['lon'].str[1:]

# Remove degree symbol from lat and lon
county_table_df['lat'] = county_table_df['lat'].str[:-1]
county_table_df['lon'] = county_table_df['lon'].str[:-1]

# Set as a float for lat and lon
county_table_df['lat'] = county_table_df['lat'].astype(float)
county_table_df['lon'] = county_table_df['lon'].astype(float)

# Convert the lon to an actual negative value (for all, since North America)
county_table_df['lon'] = -county_table_df['lon']

# Change the null values (no data) to 0
county_table_df = county_table_df.fillna(0)

In [25]:
# Display the dataframe
county_table_df

     state   fips      county  county_seat        lat         lon
0       AL   1001     Autauga   Prattville  32.536382  -86.644490
1       AL   1003     Baldwin  Bay Minette  30.659218  -87.746067
2       AL   1005     Barbour      Clayton  31.870670  -85.405456
3       AL   1007        Bibb  Centreville  33.015893  -87.127148
4       AL   1009      Blount      Oneonta  33.977448  -86.567246
...    ...    ...         ...          ...        ...         ...
3138    WY  56037  Sweetwater  Green River  41.660339 -108.875676
3139    WY  56039       Teton      Jackson  44.049321 -110.588102
3140    WY  56041       Uinta     Evanston  41.284726 -110.558947
3141    WY  56043    Washakie      Worland  43.878831 -107.669052
3142    WY  56045      Weston    Newcastle  43.846213 -104.570020

[3143 rows x 6 columns]

## Connect and load to postgressql
### Available dataframes:
<b>NYT:</b> covid_all_df, covid_latest_df <br>
<b>Masks:</b> masks_df <br>
<b>CDC:</b> cdc_df, cdc_2019_df, cdc_2020_df <br>
<b>Covid tracking:</b> covidtracking_current_df, covidtracking_all_df<br>
<b>County info:</b> county_table_df

In [26]:
# Connect to database
#
# Note: db_login_info comes from config.py and should have a scheme of:
# "postgresql://<USERNAME>:<PASSWORD>@<HOST>:<PORT>/<DATABASE_NAME>"

engine = create_engine(f'{db_login_info}')

In [27]:
# Check for Tables
table_names = engine.table_names()
table_names

['county',
 'covid',
 'covidtracking_current',
 'covidtracking_all',
 'masks',
 'cdc']

In [28]:
engine.dispose()

### Load data into database
These are commented out to prevent damaging the existing tables host on Heroku

In [29]:
# Load covid_all_df dataframe into database
#covid_all_df.to_sql(name='covid', con=engine, if_exists='append', index=False)

In [30]:
# Load mask_df dataframe into database
#masks_df.to_sql(name='masks', con=engine, if_exists='append', index=False)

In [31]:
# Load cdc_df dataframe into database
#cdc_df.to_sql(name='cdc', con=engine, if_exists='append', index=False)

In [32]:
# Load covidtracking_current_df dataframe into database
#covidtracking_current_df.to_sql(name='covidtracking_current', con=engine, if_exists='append', index=False)

In [33]:
# Load covidtracking_all_df dataframe into database
#covidtracking_all_df.to_sql(name='covidtracking_all', con=engine, if_exists='append', index=False)

In [34]:
# Load county_table_df dataframe into database
#county_table_df.to_sql(name='county', con=engine, if_exists='append', index=False)

### Confirm data load

In [35]:
# Confirm covid data has been added
pd.read_sql_query('select * from covid', con=engine)

              date      county       state   fips  cases  deaths
0       2020-01-21   Snohomish  Washington  53061      1       0
1       2020-01-22   Snohomish  Washington  53061      1       0
2       2020-01-23   Snohomish  Washington  53061      1       0
3       2020-01-24        Cook    Illinois  17031      1       0
4       2020-01-24   Snohomish  Washington  53061      1       0
...            ...         ...         ...    ...    ...     ...
596706  2020-10-05  Sweetwater     Wyoming  56037    363       2
596707  2020-10-05       Teton     Wyoming  56039    625       1
596708  2020-10-05       Uinta     Wyoming  56041    365       2
596709  2020-10-05    Washakie     Wyoming  56043    120       6
596710  2020-10-05      Weston     Wyoming  56045     44       0

[596711 rows x 6 columns]

In [36]:
# Confirm mask use data has been added
pd.read_sql_query('select * from masks', con=engine)

       fips  never  rarely  sometimes  frequently  always
0     01001  0.053   0.074      0.134       0.295   0.444
1     01003  0.083   0.059      0.098       0.323   0.436
2     01005  0.067   0.121      0.120       0.201   0.491
3     01007  0.020   0.034      0.096       0.278   0.572
4     01009  0.053   0.114      0.180       0.194   0.459
...     ...    ...     ...        ...         ...     ...
3137  56037  0.061   0.295      0.230       0.146   0.268
3138  56039  0.095   0.157      0.160       0.247   0.340
3139  56041  0.098   0.278      0.154       0.207   0.264
3140  56043  0.204   0.155      0.069       0.285   0.287
3141  56045  0.142   0.129      0.148       0.207   0.374

[3142 rows x 6 columns]

In [37]:
# Confirm cdc data has been added
pd.read_sql_query('select * from cdc', con=engine)

,state,year,week,week_ending_date,all_causes,natural_causes,septicemia,malignant_neoplasms,diabetes,alzheimers,influenza_and_pneumonia,chronic_lower_respiratory,other_diseases_of_respiratory,nephritis_nephrotic_syndrome,symptoms_signs_and_abnormal,diseases_of_heart,cerebrovascular_diseases,covid_19_multiple_causes,covid_19_underlying_cause
0,Alabama,2019,1,2019-01-05,1077,993,30,198,22,60,21,63,14,21,27,261,53,0,0
1,Alabama,2019,2,2019-01-12,1090,994,25,187,24,49,18,85,21,13,11,275,65,0,0
2,Alabama,2019,3,2019-01-19,1114,1042,22,238,18,48,31,80,30,25,15,283,53,0,0
3,Alabama,2019,4,2019-01-26,1063,994,21,165,22,50,22,113,14,25,23,279,56,0,0
4,Alabama,2019,5,2019-02-02,1095,1026,18,199,19,52,19,80,20,24,21,290,50,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4901,United States,2020,35,2020-08-29,55315,52044,658,10781,1620,2260,617,2327,678,890,3028,10795,2733,5106,4587
4902,United States,2020,36,2020-09-05,52108,49073,610,10179,1504,2266,626,2213,698,802,2971,10429,2515,4162,3668
4903,United States,2020,37,2020-09-12,48078,45611,549,9723,1403,2025,567,2093,601,754,3041,9533,2526,3313,2923
4904,United States,2020,38,2020-09-19,38755,37168,459,8323,1105,1780,465,1742,533,600,2372,8047,1992,1902,1680
4905,United States,2020,39,2020-09-26,16946,16499,208,3890,441,866,207,798,262,272,996,3604,918,313,293

In [38]:
# Confirm county data has been added
pd.read_sql_query('select * from county', con=engine)

     state   fips      county  county_seat        lat         lon
0       AL   1001     Autauga   Prattville  32.536382  -86.644490
1       AL   1003     Baldwin  Bay Minette  30.659218  -87.746067
2       AL   1005     Barbour      Clayton  31.870670  -85.405456
3       AL   1007        Bibb  Centreville  33.015893  -87.127148
4       AL   1009      Blount      Oneonta  33.977448  -86.567246
...    ...    ...         ...          ...        ...         ...
3138    WY  56037  Sweetwater  Green River  41.660339 -108.875676
3139    WY  56039       Teton      Jackson  44.049321 -110.588102
3140    WY  56041       Uinta     Evanston  41.284726 -110.558947
3141    WY  56043    Washakie      Worland  43.878831 -107.669052
3142    WY  56045      Weston    Newcastle  43.846213 -104.570020

[3143 rows x 6 columns]

In [39]:
# Confirm covidtracking_all data has been added
pd.read_sql_query('select * from covidtracking_all', con=engine)

,date,states,positive,negative,pending,hospitalized_currently,hospitalized_cumulative,icu_currently,icu_cumulative,ventilator_currently,...,deaths,hospitalized,total_test_results,total,pos_neg,death_increase,hospitalized_increase,negative_increase,positive_increase,total_test_results_increase
0,20201006,56,7460634,97932855,8680,31346,414461,6438,20973,1609,...,202675,414461,110226302,0,0,634,-624,722475,38661,823419
1,20201005,56,7421973,97210380,11544,30098,415085,6209,20812,1515,...,202041,415085,109402883,0,0,326,1519,846256,38133,935481
2,20201004,56,7383840,96364124,11471,29944,413566,5974,20729,1485,...,201715,413566,108467402,0,0,363,649,824848,38439,955736
3,20201003,56,7345401,95539276,11464,30106,412917,5996,20686,1501,...,201352,412917,107511666,0,0,741,1166,846390,51372,997984
4,20201002,56,7294029,94692886,10813,30697,411751,6106,20612,1533,...,200611,411751,106513682,0,0,835,1342,977186,49534,1127307
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
254,20200126,2,0,0,0,0,0,0,0,0,...,0,0,2,0,0,0,0,0,0,0
255,20200125,2,0,0,0,0,0,0,0,0,...,0,0,2,0,0,0,0,0,0,0
256,20200124,2,0,0,0,0,0,0,0,0,...,0,0,2,0,0,0,0,0,0,0
257,20200123,2,0,0,0,0,0,0,0,0,...,0,0,2,0,0,0,0,0,0,1
258,20200122,2,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [40]:
# Confirm covidtracking_current data has been added
pd.read_sql_query('select * from covidtracking_current', con=engine)

,date,state,positive,probable_cases,negative,pending,total_test_results,hospitalized_currently,hospitalized_cumulative,icu_currently,...,total_tests_antigen,positive_tests_antigen,positive_increase,negative_increase,total,total_test_results_source,total_test_results_increase,pos_neg,death_increase,hospitalized_increase
0,20201006,AK,9587,0,469787,0,479374,45,0,0,...,0,0,0,0,479374,posNeg,0,479374,0,0
1,20201006,AL,160477,18923,1031293,0,1172847,764,17699,0,...,0,0,764,4702,1191770,posNeg,5334,1191770,21,0
2,20201006,AR,88071,3841,1003441,0,1087671,523,5658,237,...,21856,3300,641,7995,1091512,posNeg,8527,1091512,0,72
3,20201006,AS,0,0,1616,0,1616,0,0,0,...,0,0,0,0,1616,posNeg,0,1616,0,0
4,20201006,AZ,221934,4780,1294273,0,1511427,665,19987,138,...,0,0,864,7733,1516207,posNeg,8554,1516207,6,-2316
5,20201006,CA,828461,0,14601960,0,15430421,3175,0,809,...,0,0,1677,127063,15430421,posNeg,128740,15430421,28,0
6,20201006,CO,73537,5088,889084,0,1444262,325,7693,0,...,0,0,461,6341,962621,totalTestEncountersViral,13722,962621,0,20
7,20201006,CT,59241,2412,1685193,0,1744434,129,11699,0,...,0,0,121,17592,1744434,posNeg,17713,1744434,4,0
8,20201006,DC,15652,0,394377,0,410029,105,0,30,...,0,0,105,8356,410029,posNeg,8461,410029,0,0
9,20201006,DE,21466,1074,276047,0,297513,87,0,20,...,0,0,103,1575,297513,posNeg,1678,297513,1,0
10,20201006,FL,720125,0,4713453,4085,5433578,2151,45519,0,...,0,0,2251,18644,5437663,posNeg,20895,5433578,59,237
11,20201006,GA,324650,0,2720142,0,3044792,1779,29154,0,...,0,0,936,11099,3044792,posNeg,12035,3044792,37,167
12,20201006,GU,2814,4,50198,0,53012,42,0,14,...,7,4,61,586,53012,posNeg,647,53012,0,0
13,20201006,HI,13041,187,293987,0,307028,128,889,39,...,0,0,50,866,307028,posNeg,916,307028,1,0
14,20201006,IA,89934,0,700909,0,790843,413,0,104,...,0,0,474,2355,790843,posNeg,2829,790843,11,0
15,20201006,ID,44422,4291,279814,0,319945,151,1911,36,...,0,0,458,1369,324236,posNeg,1778,324236,5,8
16,20201006,IL,307750,2739,5669458,0,5977208,1673,0,384,...,0,0,1617,47896,5977208,posNeg,49513,5977208,31,0
17,20201006,IN,126946,0,1305273,0,1432219,1138,13324,333,...,0,0,970,6074,1432219,posNeg,7044,1432219,30,85
18,20201006,KS,62708,0,478398,0,541106,352,3036,103,...,0,0,0,0,541106,posNeg,0,541106,0,0
19,20201006,KY,74194,9844,1401560,0,1465910,592,5622,150,...,27877,0,1036,11440,1475754,posNeg,12132,1475754,4,65
20,20201006,LA,170469,1425,2233311,0,2403780,567,0,0,...,0,0,532,12228,2403780,posNeg,12760,2403780,6,0
21,20201006,MA,135957,2598,2197297,0,4416428,494,12775,85,...,0,0,495,12331,2333254,totalTestsViral,45378,2333254,8,20
22,20201006,MD,128204,0,1547023,0,1675227,360,15791,88,...,0,0,413,6497,1675227,posNeg,6910,1675227,6,46
23,20201006,ME,5565,582,463655,0,469220,7,457,1,...,0,0,20,2518,469220,posNeg,2538,469220,0,3
24,20201006,MI,143878,14052,3701084,0,3844962,678,0,158,...,0,0,1152,24983,3844962,posNeg,26135,3844962,22,0
25,20201006,MN,105740,0,1396996,0,2182970,367,8020,123,...,0,0,941,7618,1502736,posNeg,13184,1502736,4,80
26,20201006,MO,134583,0,1232556,0,1946604,0,0,0,...,15458,3369,1165,7306,1367139,posNeg,16518,1367139,26,0
27,20201006,MP,75,0,15121,0,15196,0,4,0,...,0,0,0,0,15196,posNeg,0,15196,0,0
28,20201006,MS,100703,8390,704655,0,805358,554,6053,128,...,66989,0,0,0,805358,posNeg,0,805358,0,0
29,20201006,MT,15347,0,357373,0,372720,216,773,0,...,0,0,500,2245,372720,posNeg,2745,372720,2,19
30,20201006,NC,221258,5781,2995428,0,3216686,1013,0,290,...,4508,0,1504,21266,3216686,posNeg,22770,3216686,33,0
31,20201006,ND,24364,0,225723,0,648406,116,968,27,...,0,0,502,933,250087,totalTestEncountersViral,5737,250087,26,29
32,20201006,NE,48259,0,432754,0,481013,271,2407,0,...,0,0,452,3609,481013,posNeg,4061,481013,2,10
33,20201006,NH,8731,0,274740,0,469392,20,743,0,...,0,0,51,1761,283471,posNeg,3514,283471,2,0
34,20201006,NJ,209342,0,3549345,0,3758687,553,23577,126,...,0,0,629,0,3758687,posNeg,629,3758687,9,0
35,20201006,NM,30632,0,923964,0,954596,97,3581,0,...,0,0,155,6496,954596,posNeg,6651,954596,2,20
36,20201006,NV,82916,0,635816,0,718732,485,0,125,...,0,0,479,1689,718732,posNeg,2168,718732,6,0
37,20201006,NY,466908,0,10926475,0,11393383,705,89995,158,...,0,0,1393,94966,11393383,posNeg,96359,11393383,9,0
38,20201006,OH,161299,9316,3266673,0,3427972,777,15972,207,...,0,0,1335,38451,3427972,posNeg,39786,3427972,16,132
39,20201006,OK,93346,0,1186715,3984,1280061,699,6816,228,...,0,0,1364,29641,1284045,posNeg,31005,1280061,11,142
40,20201006,OR,35340,1765,678058,0,713398,178,2680,55,...,0,0,291,4095,713398,posNeg,4386,713398,9,23
41,20201006,PA,165243,5653,1951992,0,2117235,633,0,0,...,0,0,1036,11040,2117235,posNeg,12076,2117235,17,0
42,20201006,PR,51737,26102,305972,0,357709,322,0,61,...,0,0,432,0,357709,posNeg,432,357709,1,0
43,20201006,RI,25596,0,328485,0,828014,93,2849,8,...,0,0,177,2643,354081,totalTestEncountersViral,7709,354081,4,14
44,20201006,SC,152970,5170,1250166,0,1403136,655,9331,167,...,58125,11303,811,13219,1403136,posNeg,14030,1403136,15,48
45,20201006,SD,24876,0,176601,0,201477,250,1670,0,...,0,0,278,756,201477,posNeg,1034,201477,0,28
46,20201006,TN,205375,8752,2834907,0,3040282,1115,8976,302,...,0,0,1676,23942,3040282,posNeg,25618,3040282,24,53
47,20201006,TX,773435,0,5862813,0,6636248,3394,0,1080,...,143766,12908,4132,60439,6636248,posNeg,64571,6636248,78,0
48,20201006,UT,79439,0,796162,0,875601,245,4058,79,...,38427,2371,716,8705,875601,posNeg,9421,875601,6,39
49,20201006,VA,153182,8195,2009181,319,2154168,926,19038,219,...,0,0,625,13629,2162682,posNeg,14177,2162363,15,220
50,20201006,VI,1322,0,20155,30,21477,0,0,0,...,0,0,0,0,21507,posNeg,0,21477,0,0
51,20201006,VT,1821,0,165620,0,167441,1,0,0,...,0,0,4,-69,167441,posNeg,-65,167441,0,0
52,20201006,WA,90276,0,1861131,0,1951407,253,7622,0,...,0,0,402,15106,1951407,posNeg,15508,1951407,16,-6
53,20201006,WI,143730,7351,1482116,262,1625846,853,7810,261,...,0,0,2075,9539,1626108,posNeg,11614,1625846,18,108
54,20201006,WV,16936,513,582617,0,599553,168,0,65,...,0,0,194,2828,599553,posNeg,3022,599553,3,0
55,20201006,WY,6770,1019,99912,0,106682,44,304,0,...,0,0,141,379,106682,posNeg,520,106682,0,10